export GOBUILDDIR=$(pwd)/.gobuild
export GOPATH=$GOBUILDDIR:$GOPATH
PATH_add $GOBUILDDIR/bin

if [ ! -e ${GOBUILDDIR} ]; then
    mkdir -p ${GOBUILDDIR}/src/github.com/YakLabs/
    ln -s ../../../.. ${GOBUILDDIR}/src/github.com/YakLabs/k8s-client
fi

# go get github.com/pkg/errors
# go get github.com/google/gofuzz